@media (max-width: 800px)
	.contenedor
		padding 0 espacioH
	h2
		font-size 26px
	form
		input[type='email'], textarea
			font-size 18px
			height 50px
		textarea
			font-size 18px
			height 200px

	header, footer
		nav.contenedor
			padding 0
			ul
				display none
	main
		#hero
			display block
			background url("/img/hero.jpg") no-repeat center center
			.contenedor.text
				padding 0
				height 500px
				justify-content center
				align-items center
				flex-direction column
				#logo
					width 100px
					height 100px
					margin-bottom espacioV*2
				div
					width 100%
					height 145px
					margin 0
					padding 0 espacioH
					p
						font-size 24px
			.contenedor.video
				padding 0
				video
					height 100%
					width auto
		#eventos
			display block
			height auto
			.contenedor
				ul
					flex-wrap wrap
					li
						width 100%
						margin-bottom espacioV*3
						&:first-child
							margin-top espacioV*3
		#queesunaservicejam
			.contenedor
				div
					max-width 100%
		#asisevivenlasservicejams
			.contenedor
				padding 0
		#equipo
			.contenedor
				ul
					li
						width 100%
						padding 0 0 espacioV 0
						div:last-child
							width 70%
							padding 0 0 0 espacioH
							span
								&.name
									font-size 20px
								&.title
									font-size 14px
								a
									img
										height 40px
										width 40px
		#partners
			.contenedor
				ul
					li
						width 100% !important
						margin espacioV 0
						padding 0
					li.areatres
						background url("/img/sponsors/area3-logo.png") center center no-repeat
					li.findasense
						background url("/img/sponsors/findasense-logo.png") center center no-repeat
					li.eklos
						background url("/img/sponsors/eklos-logo.png") center center no-repeat
					li.globant
						background url("/img/sponsors/globant-logo.png") center center no-repeat
					li.ibm
						background url("/img/sponsors/ibm-logo.png") center center no-repeat
					li.mural
						background url("/img/sponsors/mural-logo.png") center center no-repeat
					li.coderhouse
						background url("/img/sponsors/coderhouse-logo.png") center center no-repeat
					li.intercultura
						background url("/img/sponsors/intercultura-logo.png") center center no-repeat
				.contacto
					flex-wrap wrap
					div, form
						width 100%
		#masjams
			padding 0
			.contenedor
				display block
				>div, form
					width 100%
				>div
					div
						display block
						text-align center
						.logo
							width 100px
							height 150px
							background-size contain
							margin 0 0 espacioV 0
						p
							width 100%
							text-align left
		#redes
			.contenedor
				a
					.logo
						margin 0 espacioH*.5