@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,800");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol,
ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px; }

main {
  width: calc(100% - 60px);
  margin-left: 60px; }
  @media only screen and (min-width: 600px) {
    main {
      width: calc(100% - 80px);
      margin-left: 80px; } }

.black-bg {
  background-color: black;
  color: white; }

.white-bg {
  background-color: white;
  color: black; }

.contenedor {
  width: 100%; }

.section-text {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  flex-flow: column; }
  @media only screen and (min-width: 600px) {
    .section-text {
      width: 40%; } }
  .section-text h2 {
    margin: 24px 0; }

.section-img {
  width: 100%;
  margin-top: 24px; }
  @media only screen and (min-width: 600px) {
    .section-img {
      width: 35%;
      position: absolute;
      right: 20px;
      top: 80px; } }
  .section-img img {
    width: 100%;
    filter: grayscale(100%); }

@media only screen and (min-width: 600px) {
  #quienes-participan .section-img {
    top: 40px; } }
@media only screen and (min-width: 600px) {
  #quienes-participan .section-img img {
    height: 650px;
    width: auto; } }

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 48px 24px; }
  @media only screen and (min-width: 600px) {
    section {
      padding: 48px; } }
  section h2 {
    text-align: left;
    font-size: 32px; }
    @media only screen and (min-width: 600px) {
      section h2 {
        margin-bottom: 56px;
        font-size: 56px; } }
  section p, section a {
    font-size: 16px;
    line-height: 1.2; }
  section a {
    text-decoration: underline;
    font-weight: bold; }

#home, #asisevivenlasservicejams {
  min-height: 50vh;
  background-color: white; }

h1,
h2,
h3 {
  font-weight: bold; }

h2 {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  margin-bottom: 6px; }
  @media only screen and (min-width: 600px) {
    h2 {
      font-size: 32px; } }

a,
input[type="submit"], button {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  font-size: 14px;
  background: none;
  border: 0;
  cursor: pointer; }
  a.button-negative,
  input[type="submit"].button-negative, button.button-negative {
    background: #000;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid white; }
  a.button,
  input[type="submit"].button, button.button {
    background: #000;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: bold; }
  a.button.secondary,
  input[type="submit"].button.secondary, button.button.secondary {
    background: none;
    border: 1px solid #212121;
    color: #212121; }
  a.button.disabled,
  input[type="submit"].button.disabled, button.button.disabled {
    opacity: 0.5;
    cursor: default; }
  a.button.null,
  input[type="submit"].button.null, button.button.null {
    opacity: 0.5;
    color: grey;
    background: none;
    text-decoration: line-through;
    cursor: default; }
  a.link,
  input[type="submit"].link, button.link {
    text-align: center;
    padding: 0 16px; }
    a.link:hover,
    input[type="submit"].link:hover, button.link:hover {
      text-decoration: underline; }

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

#asisevivenlasservicejams {
  padding-top: 32px; }
  #asisevivenlasservicejams h2, #asisevivenlasservicejams a {
    font-size: 32px; }
    @media only screen and (min-width: 600px) {
      #asisevivenlasservicejams h2, #asisevivenlasservicejams a {
        font-size: 56px; } }
  #asisevivenlasservicejams a {
    color: #409dfa; }
  #asisevivenlasservicejams #instafeed a {
    overflow: hidden;
    height: 450px;
    margin-top: 24px; }

.sponsors-wrapper {
  margin-top: 24px;
  margin-bottom: 24px; }
  .sponsors-wrapper .sponsor img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100px;
    margin: 16px 0; }
    .sponsors-wrapper .sponsor img:hover {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none; }
    @media only screen and (min-width: 600px) {
      .sponsors-wrapper .sponsor img {
        width: 120px;
        margin: 24px;
        margin: 12px; } }
  .sponsors-wrapper .cuadrado img {
    width: 60px; }

#equipo .row-team-wrapper {
  margin: 48px 0; }
#equipo .team-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5; }
  @media only screen and (min-width: 600px) {
    #equipo .team-wrapper {
      width: 30%; } }
  #equipo .team-wrapper img {
    width: 100px;
    margin-right: 16px;
    filter: grayscale(100%); }
    @media only screen and (min-width: 600px) {
      #equipo .team-wrapper img {
        width: 120px; } }
  #equipo .team-wrapper p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: grey; }
  #equipo .team-wrapper a {
    margin-top: 16px; }
    #equipo .team-wrapper a img {
      width: 24px;
      height: 24px; }

#contacto {
  padding-bottom: 48px; }
  @media only screen and (min-width: 600px) {
    #contacto .section-text {
      width: 55%; } }

#que-hacemos .activities {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-flow: column; }
  @media only screen and (min-width: 600px) {
    #que-hacemos .activities {
      flex-flow: row; } }
  #que-hacemos .activities .activity {
    background-color: white;
    padding: 24px;
    color: black;
    margin: 16px 0;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    flex-flow: column; }
    @media only screen and (min-width: 600px) {
      #que-hacemos .activities .activity {
        width: 28%;
        min-height: 200px;
        margin: 32px 0; } }
    #que-hacemos .activities .activity span {
      width: 24px;
      height: 2px;
      background-color: black;
      display: block;
      margin-bottom: 8px;
      margin-left: 2px; }
    #que-hacemos .activities .activity h3 {
      font-size: 40px;
      margin-bottom: 24px; }
  #que-hacemos .activities .black {
    background-color: black;
    color: white;
    border: 2px solid white; }
    #que-hacemos .activities .black span {
      background-color: white; }

header {
  position: fixed;
  display: flex;
  justify-content: center;
  background: #f4f4f5;
  border-right: 1px solid white;
  height: 100vh;
  width: 60px;
  padding: 8px;
  z-index: 1000; }
  @media only screen and (min-width: 600px) {
    header {
      width: 80px; } }
  header nav {
    display: flex;
    justify-content: space-between;
    flex-flow: column; }
    header nav img {
      width: 60px;
      height: 60px; }
    @media only screen and (min-width: 600px) {
      header nav ul {
        display: flex;
        align-items: left;
        flex-flow: column; } }
    header nav ul li {
      display: inline-block;
      margin: 24px 0 0 0; }
    header nav .redes li {
      margin: 16px; }
      header nav .redes li a img {
        width: 30px;
        height: auto; }

form {
  display: flex;
  align-items: self-start;
  flex-flow: column;
  padding-top: 0;
  margin-top: 48px; }
  form input,
  form textarea {
    width: -webkit-calc(100% - 24px);
    width: -moz-calc(100% - 24px);
    width: calc(100% - 24px);
    height: 20px;
    padding: 12px;
    margin: 12px 0;
    border: 0;
    border: 1px solid black; }
  form textarea {
    height: 120px; }
  form input[type="submit"] {
    height: 48px;
    width: 100%;
    margin-top: 24px; }
  form input[type="email"] {
    margin-top: 0; }

#hero {
  text-align: center;
  color: #fff;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh; }
  @media only screen and (min-width: 600px) {
    #hero {
      height: 90vh; } }
  #hero .section-text {
    text-align: left;
    margin-left: 50px;
    width: 80%;
    height: 70vh;
    justify-content: flex-end; }
    @media only screen and (min-width: 600px) {
      #hero .section-text {
        margin-left: 100px;
        width: 50%; } }
    #hero .section-text h1 {
      font-size: 64px; }
    #hero .section-text img {
      display: none; }
      @media only screen and (min-width: 600px) {
        #hero .section-text img {
          display: block;
          max-width: 180px;
          margin-bottom: 24px; } }
    #hero .section-text p {
      font-size: 18px;
      line-height: 1.6; }

#agenda .event-row {
  display: flex;
  justify-content: space-between;
  flex-flow: column; }
  @media only screen and (min-width: 600px) {
    #agenda .event-row {
      flex-flow: row;
      margin-top: 90px; } }
#agenda .service span {
  background-color: #FF7300; }
#agenda .service .btn:hover, #agenda .service .btn-secondary:hover {
  background-color: #FF7300; }
#agenda .gender span {
  background-color: #87128A; }
#agenda .gender .btn:hover, #agenda .gender .btn-secondary:hover {
  background-color: #87128A; }
#agenda .gov span {
  background-color: #4FC3FF; }
#agenda .gov .btn:hover, #agenda .gov .btn-secondary:hover {
  background-color: #4FC3FF; }
#agenda .dxs span {
  background-color: #F2594B; }
#agenda .dxs .btn:hover, #agenda .dxs .btn-secondary:hover {
  background-color: #F2594B; }
#agenda .event-item {
  border-left: 1px solid black;
  padding: 0 8px;
  margin-right: 8px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 48px 24px 0; }
  @media only screen and (min-width: 600px) {
    #agenda .event-item {
      width: 20%;
      margin: 0; } }
  #agenda .event-item span {
    width: 8px;
    height: 48px;
    position: absolute;
    left: -9px;
    top: 0px; }
  #agenda .event-item h4 {
    font-weight: bold; }
  #agenda .event-item img {
    width: 120px;
    margin: 8px 0; }
    @media only screen and (min-width: 600px) {
      #agenda .event-item img {
        width: 180px; } }
  #agenda .event-item p {
    font-size: 16px;
    line-height: 1.2; }
  #agenda .event-item .btn {
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 32px;
    margin-top: 24px;
    width: 120px;
    text-align: center; }
  #agenda .event-item .btn-secondary {
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    text-transform: uppercase;
    padding: 8px 32px;
    margin-top: 24px;
    width: 120px;
    text-align: center; }

.main-event-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
  margin-bottom: 48px; }
  .main-event-wrapper img {
    margin-right: 20px; }
  .main-event-wrapper .event-data {
    height: 150px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-flow: column; }
    .main-event-wrapper .event-data h2 {
      font-size: 16px;
      text-align: left; }
  @media only screen and (min-width: 600px) {
    .main-event-wrapper {
      width: 50%;
      margin-left: 25%;
      align-items: flex-start;
      flex-flow: row; }
      .main-event-wrapper img {
        width: 190px; }
      .main-event-wrapper .event-data {
        height: 190px;
        justify-content: space-around; }
        .main-event-wrapper .event-data h2 {
          font-size: 24px;
          line-height: 1.5; } }
  @media only screen and (min-width: 1140px) {
    .main-event-wrapper {
      width: 30%;
      margin-left: 35%; } }

.event-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 380px;
  text-align: center;
  margin: 24px 0; }
  @media only screen and (min-width: 600px) {
    .event-wrapper {
      width: 30%;
      height: 440px; } }
  .event-wrapper img {
    width: 160px;
    min-height: 220px; }
  .event-wrapper h3 {
    font-size: 18px;
    line-height: 1.5; }

.item-row .item-wrapper {
  margin-bottom: 24px;
  height: 120px; }
  .item-row .item-wrapper .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px; }
    .item-row .item-wrapper .logos img {
      width: 80px;
      margin-right: 20px; }
      @media only screen and (min-width: 600px) {
        .item-row .item-wrapper .logos img {
          width: 120px;
          margin: 10px; }
          .item-row .item-wrapper .logos img.round {
            width: 120px; } }

.footer-container {
  padding: 48px 24px; }
  @media only screen and (min-width: 600px) {
    .footer-container {
      width: 90%;
      margin-left: 5%; }
      .footer-container form {
        margin: 0; } }
  .footer-container h3 {
    font-size: 18px;
    margin-bottom: 8px; }

.suscribe-container {
  margin-bottom: 48px;
  display: flex;
  flex-flow: column; }
  @media only screen and (min-width: 600px) {
    .suscribe-container {
      display: flex;
      flex-flow: row;
      align-items: center;
      margin: 0; } }
  .suscribe-container h2 {
    text-align: left;
    font-size: 32px; }
  .suscribe-container i {
    font-size: 12px;
    color: grey; }
  .suscribe-container #mc_embed_signup {
    width: 100%; }
  .suscribe-container form {
    width: 100%;
    flex-flow: row; }
    .suscribe-container form #mc_embed_signup_scroll {
      width: 100%; }
      @media only screen and (min-width: 600px) {
        .suscribe-container form #mc_embed_signup_scroll {
          display: flex;
          flex-flow: row; }
          .suscribe-container form #mc_embed_signup_scroll .mc-field-group {
            width: 70%;
            margin-right: 16px; } }
      .suscribe-container form #mc_embed_signup_scroll input[type="submit"] {
        background-color: #000000;
        color: #ffffff;
        border: 1px solid #ffffff; }
        .suscribe-container form #mc_embed_signup_scroll input[type="submit"]:hover {
          background-color: #ffffff;
          color: #000000;
          border: 1px solid #000000; }
        @media only screen and (min-width: 600px) {
          .suscribe-container form #mc_embed_signup_scroll input[type="submit"] {
            margin: 0; } }
  .suscribe-container .suscribe-text {
    display: flex;
    flex-flow: column;
    margin-right: 16px; }
    .suscribe-container .suscribe-text h3 {
      font-size: 20px; }

/*# sourceMappingURL=styles.css.map */
