#info {
  padding: 24px;
  background-color: $primary-color;
  color: $white;

  .guion {
    width: 64px;
    height: 8px;
    background-color: $white;
    margin: 16px auto;
    display: inline-block;
  }

  p {
    @extend h2;
  }
}
