.navbar-default {
  background-color: $primary-color;
  border-radius: 0;
  margin: 0;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

// Fonts sizes
$font-size-base: 16px !default;

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  @media (min-width: $screen-md-min) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  @media (min-width: $screen-md-min) {
    font-size: 40px;
    line-height: 48px;
  }
}

h3 {
  font-size: 22px;
  line-height: 24px;
  @media (min-width: $screen-md-min) {
    font-size: 32px;
    line-height: 40px;
  }
}

h4 {
  font-size: 16px;
  line-height: 24px;
  @media (min-width: $screen-md-min) {
    font-size: 20px;
    line-height: 28px;
  }
}

h5, h6 {
  font-size: 16px;
  line-height: 24px;
}


p, li {
  font-size: $font-size-base;
  line-height: 24px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer {
  background-color: $black;
  color: $white;
  text-align: center;
  position: fixed;
  bottom: -50px;
  width: 50%;
  margin-left: 25%;
  border-radius: 16px 16px 0 0;
  transition: 0.1s;
  .social-media-wrapper {
    display: none;
  }

  &:hover {
    bottom: 0;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    h3 {
      border-bottom: 3px solid;
    }
    .social-media-wrapper {
      display: block;
    }
  }


  h3 {
    margin-bottom: 24px;
    text-align: left;
  }

  h2 {
    margin: 0;
    padding: 0;
    line-height: 40px;
  }
}
