.social-media-wrapper {
  margin-bottom: 48px;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $gray-60;
      a {
        color: $white !important;
        text-align: center;
        display: block;
        padding-top: 4px;
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
}
